*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:link 
{ 
 text-decoration:none; 
 color: black;
} 
a:visited {
    color: black;
}
ul {
list-style: none;
padding: 0;
margin: 0;
}
html, body {
    font-family: Raleway;
}
main, header { margin-left: 50px;
    margin-right: 50px;
}
body {
    max-width: 1440px;
    margin: auto;
}
/**TOOLBOX**/
/*FLEX*/
.flex_center {
    display:flex;
    align-items: center;
    justify-content: center;
}
.flex_around {display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex_center_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.flex_between_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.flex_around_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.flex_around_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex_between_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.flex_left {
    display: flex;
    justify-content: flex-start;
}
/*POLICE*/
.p_nav {
    font-size: 16px;
}
.p_title {
    font-size: 18px;
}
.p_comm {
    font-size: 14px;
}
.p_cel_txt {
    font-weight: bold;
}
.p_boxcard {
    font-size: 13px;
}
.p_title_foot {
    font-size: 14px;
}
.stars_blue {color: #0065FC;
font-size: 10px;}
.stars_grey { color: #d9d9d9;
font-size: 10px;}

/***BARRE DE NAVIGATION***/
.nav_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.size_logo  {
    height: 50px;
}
.button_nav_size {
    width: 400px ;
}
.link_size_heb {
    width: 100%;
    height: 100px;  
    border-top: 2px solid #0065FC;
}
.link_size_act {
    width: 100%;
    height: 100px;  
    border-top: 2px solid transparent;    
}
.link_color_heb { 
    color: #0065FC;
 }
.link_color_heb { 
    color: #0065FC;
}
.link_color_heb:visited { 
    color: #0065FC;
 }
.link_color_act { 
    color: black;
 }
.link_size_act:hover>.link_color_act {
    color: #0065FC;  
}
.link_size_act:hover {
    border-top: 2px solid #0065FC;
}
.button_nav_size:hover>.link_size_heb { 
    border-top: 2px solid  transparent; 
    }
.button_nav_size:hover>.link_size_heb>.link_color_heb {
        color: black;
    } 
.button_nav_size:hover>.link_size_heb:hover {
        border-top: 2px solid  #0065FC; 
    }     
.button_nav_size:hover>.link_size_heb:hover>.link_color_heb {
        color: #0065FC;
    }   
/****HEADER***/
.title_intro{
    padding-top:0px ;
}
/*Barre de recherche*/
.globalsearch{
    width: 350px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #F2F2F2;
    height: 42px;
    }
.iconmap{
    width: 42px;
    height: 42px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px; 
    position: relative;    
    right: 4px;       
}
.bordernone{
    border:none;
}
.searchinput{height: 40px;
    width: 195px;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}
.searchblock{
    height: 42px;
    width: 115px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    position: relative;
    left: 2px;
}
.searchblock_mob {
    height: 42px;
    width: 42px;
    background-color: #0065FC;
    border-radius: 10px;
    color: white;
    position: relative;
    left: 2px;
}
.searchblock:visited,.searchblock_mob:visited {
    color:white;
}
/***FILTRE***/
.main_cel_filt {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.cel_filt {
    display: flex;
    justify-content: space-between;
}
.cell_iconandfilt {
    display: flex;
    height: 40px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
}
.cell_icon {
    min-width: 40px;
    width: 40px;
    min-height: 40px;
    height: 40px;
    background-color: #DEEBFF ;
    color: #0065FC;
    border-radius: 27px;
    position: relative;
    bottom: 2px; 
    right: 2px;   
    
}
.cell_txt {width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;   
}
/*Surlignement des filtres*/
.cell_iconandfilt:hover{
    border-color: #0065FC;    
    background-color: #DEEBFF;
}
.cell_iconandfilt:hover>.cell_icon {
    color: #DEEBFF;
    background-color: #0065FC;
}
.cell_iconandfilt:hover>.cell_txt { 
    font-style: italic;
}
/**MESSAGEINFO**/     
.info_cell{
    margin-top: 20px;    
}
.info_logo{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    color: #0065FC;
    margin-right: 10px;
}
/***CORPS DU SITE***/
/**SECTION1**/
/*ARTICLE*/
.blocktitles{
    margin: 20px;
}
.blockheberg{
    flex: 2;
    height: 580px;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-top: 30px;
    margin-right: 20px;   
}
.blocard {
    width: 100%;
    min-width: 600px;
}
.boxcard {
    background-color: white;
    width: 28%;
    height: 195px;
    border-radius: 25px;
    margin: 15px;
    padding: 3px;
    color: black;
    box-shadow: -1px 1px 10px #c4bfbf;
}
.boxcard:hover {
    transform: scale(1.1);
}
.boxtxt {
    margin-left: 10px;
    margin-right: 10px;   
    height: 70px;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}
.imgboxcard {
    height: 115px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
   width: 100%;
   
}
.afficherplus {
   width: 100%;
   margin-left: 20px;
   margin-top: 20px;
}
/*ASIDE-POPULAIRE*/
.blockpopul{
    flex: 1;
    height: 580px;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-top: 30px;
    margin-left: 20px;
}
.boxcardpop,.boxcardpop_bis{
    width:85%;
    min-width: 220px;
    height: auto;
    background-color:white;
    margin: 15px;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    color: black;
    padding: 3px;
}
.boxcardpop:hover,.boxcardpop_bis:hover {
    transform: scale(1.1);
}
.blocktitlespop {margin: 20px;
}

.imgboxcardpop {
    width: 33%;
    min-width: 33%;
    height: 135px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px 0 0 25px;
}
.imgboxcardpop_2 {
    width: 33%;
    min-width: 33%;
    height: 135px;
    border-radius: 25px 25px 0 0;
    object-fit: cover;
    object-position: center;
    border-radius: 25px 0 0 25px;
}
.boxtxtcardpop { 
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right :3px
}
.boxstarpop { 
    margin-left: 20px;
    margin-right: 20px;
}
.boxtxtpop1 { 
    height: 60%;
    margin-left: 20px;
    margin-right: 20px;
}
.boxetoilespop {
    margin-left: 20px;
    margin-right: 20px;  
}
/**ACTIVITE**/
.box_activite {
    height: 370px;
}
.bloc_activite { width: 100%;
    margin-right: 15px;
}
.bloc_activite_2 { width: 100%;
    margin-left: 15px;
}
.activite_titre { 
    margin-top: 40px;
    margin-bottom: 20px;
}
.box_activite_flex {
    height: 370px;
    width: 100%;
}
.activite_card_box_1 {
    height: 370px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
    margin-right: 30px;
}
.activite_card_box_2 {
    height: 200px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
    
}
.activite_card_box_3 {
    height: 140px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
}
.activite_card_box_4 {
    height: 370px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
    margin-right: 30px;     
}
.activite_card_box_5 {
    height: 170px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;  
}
.activite_card_box_6 {
    height: 170px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
}
.activite_card_box_1:hover,.activite_card_box_2:hover,.activite_card_box_3:hover,.activite_card_box_4:hover,.activite_card_box_5:hover,.activite_card_box_6:hover{
    transform: scale(1.1);    
} 
.activite_card_img_1 { 
    object-fit: cover;
    height: 320px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activite_card_img_2 { 
    object-fit: cover;
    height: 150px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activite_card_img_3 {
    object-fit: cover;
    height: 90px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activite_card_img_4 {
    object-fit: cover;
    height: 320px;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
.activite_card_img_5 {
    object-fit: cover;
    height: 120px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activite_card_img_6 {
    object-fit: cover;
    height: 120px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activité_card_txt { display: flex;
    align-items: center;
    height: 50px;
    margin-left: 5%;    
}
/**FOOTER**/
footer {
    background-color: #f2f2f2;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.bloc_footer { 
    margin-left: 50px;
    margin-right: 50px;    
}
.flex_between_wrap.bloc_footer {
    align-items: start;
}
.bloc_txt_foot {min-width: 200px;
margin-bottom: 20px;
text-align:start;
}
.title_foot {
    margin-bottom: 10px;
}
/****** @MEDIA POUR LE RESPONSIVE ******/
/**** LES BASES ****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
{
    main { 
        margin-left: 0px;
        margin-right: 0px;
    }
    header { 
        margin-left: 0px;
        margin-right: 0px;
    }
}  
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
{
    main { 
        margin-left: 0px;
        margin-right: 0px;
    }
    header { 
        margin-left: 0px;
        margin-right: 0px;
    }
}   
/****** HEADER ******/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
/*POLICE*/
@media all and (max-width: 992px)
 { 
    .p_nav {
        font-size: 16px;
}
    .p_title {
        font-size: 18px;
}
    .p_comm {
        font-size: 16px;
}
    .p_cel_txt {
        font-weight: bold;
}
    .p_boxcard {
        font-size: 16px;
}
    .p_title_foot {
        font-size: 16px;
}
    .stars_blue {color: #0065FC;
        font-size: 10px;}
    .stars_grey { color: #d9d9d9;
        font-size: 10px;}
}
/****** HEADER ******/
/**** NAV ****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 { 
    .nav_flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    .button_nav_size {
        width: 100%;
        height: auto;
    }
    .link_size {
        width: 100%;
        height: 50px;        
    }
    .link_size_heb {
        width: 100%;
        height: 50px;
        border-top: 3px solid transparent;
        border-bottom: 3px solid #0065FC;
    }
    .link_size_act {
        width: 100%;
        height: 50px;
        border-top: 3px solid transparent;
        border-bottom: 3px solid #F2F2F2;
    }
    .link_size_act:hover {
        border-top: 3px solid transparent;
        border-bottom: 3px solid #0065FC;
    }
    .button_nav_size:hover>.link_size_heb { 
        border-bottom: 3px solid  #f2f2f2; 
        border-top: 3px solid transparent ;
        }
    .button_nav_size:hover>.link_size_heb:hover {
        border-bottom: 3px solid  #0065FC;
        border-top: 3px solid transparent; 
        }     
 }
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
 { 
    .nav_flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    .button_nav_size {
        width: 100%;
        height: auto;
    }
    
    .linkborder {
        width: 100%;
        border-top: 3px solid transparent;
        border-bottom: 3px solid #F2F2F2;
    }
    .link_size:hover>.linkborder {
        border-top: 3px solid transparent;
        border-bottom: 3px solid #0065FC;
    }
    .link_size:hover>.linkborder>.link_color {
        color: #0065FC;
    }  
 }
 /****EN TETE****/
 /*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
{ 
   .title_intro {
       margin: auto;
       margin-bottom: 20px;
       width: 80%;
   }    
}
 /*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
{ 
   .title_intro {
       margin: auto;
       margin-bottom: 30px;
       width: 90%;
    }    
}
/****RECHERCHE****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 { 
    .globalsearch {
        margin: auto; 
        width: 70%;      
        margin-bottom: 30px;
     }
    .iconmap { min-width: 45px;
     } 
     .searchinput { 
        width: 100%;              
     }
     .searchblock {
        width: auto;   
        padding-left: 20px;
        padding-right: 30px;
     }     
 }
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (min-width: 769px)
 {     
     .searchblock_mob.flex_center {
         display: none;
    }
 }
 @media all and (max-width: 768px)
 { 
    .globalsearch { 
        max-width: 350px;
    }
    .searchinput { 
        padding-left: 10px;
        padding-right: 10px;              
    }
    .searchblock_mob {
        width: 42px;
        min-width: 42px;
        height: 42px;
        
    }
    .searchblock.flex_center {
        display: none;
    }
 }
/****FILTRES****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 {  
    .title_filt {
        width: 80%;
    }
    .main_cel_filt {
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        padding-right: 0px;
        padding-left: 0px;     
    }
    .cel_filt.flex_between {
        flex-wrap: wrap;
        justify-content: flex-start;        
    }
    
    .cel_filt {
    width: 80%;
    }
    
 }
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
 {  
    .cel_filt.flex_between { 
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
       
    .title_filt {
        width: 90%;
    }
    .main_cel_filt {
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        padding-right: 0px;
        padding-left: 0px;  
           
    }
    .cel_filt.flex_between {
        justify-content: flex-start;
    }   
    .cel_filt {
    width: 90%;
    }       
 }
/****INFO***/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 {  .info_cell {
        margin: auto;
        width: 80%;
        margin-top: 20px;
    }    
 }   
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
 {  .info_cell {
        width: 90%;
    }
    .info_logo {
        min-width: 30px;
        min-height: 30px;
        border: 2px solid #f2f2f2;

    }
 }  
/****** SECTION I : HEBERGERGEMENT ET PLUS POPULAIRE ******/
/**** SECTION I : HEBERGERGEMENT ET PLUS POPULAIRE ****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 {
   .bloc_section_1.flex_around {
       flex-direction: column-reverse;      
   }
   .blockheberg {
       width: 100%;
       margin-left: 0px;
       margin-right: 0px;
       flex:none;
       background-color: transparent;
       height: auto;   
    }
    .blocktitles {
        margin: auto;
        width: 80%;
    }    
     .boxcard {
         margin: 15px;
         height: auto;
         width: 45%; 
         padding: 5px; 
    }
    .imgboxcard {
        height: 110px;
    }
     .boxtxt {
         margin-left: 20px;
         margin-right: 20px;   
         height: 80px;    
    }
    .blocard {
        width: 85%;
    } 
   .blockpopul {
       width: 100%;
       flex: 0;
       margin-left: 0px;
       margin-right: 0px;
       border-radius: 10px;
       border-radius: 0 0 0 0;       
    }
    .flex_between.blocktitlespop {
        justify-content: space-between;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;        
    }
   .boxcardpop {
       width: 80%;
       margin-bottom: 30px;
       margin-top: 0px;
       padding: 5px;
   }
   .boxcardpop_bis{
       width: 80%;
       margin-top: 0px;
       margin-bottom: 30px;
       padding: 5px;
   }
   .boxcardpop_bis.flex_left {
       display: flex;
       flex-direction: row-reverse;
       justify-content: flex-end;
   }
   .imgboxcardpop_2 {
       border-radius: 0 25px 25px 0;
       width: 100%;
       height: 140px;
   }
   .imgboxcardpop {
       width: 100%;
       height: 140px;
   }   
    .afficherplus {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-left: 0;
    }    
}
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
 {
    .blockheberg { 
        height :auto;
        width: 100%;
        flex:none;
        padding: 0px;
    }
    .blocktitles {
        width: 90%;        
    }
    .blocard.flex_center_wrap {
        flex-direction: column;
        width: 90%;
        min-width: 0px;
    }
    .boxcard {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
        height: auto;
    }
    .afficherplus {
        display: block;
        margin: auto;
        margin-bottom: 10px;
        margin-top: 10px;
        width: 90%;
    }
    .flex_between.blocktitlespop {
        justify-content: space-between;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;        
    }
        .imgboxcardpop,.imgboxcardpop_2 {
        height: 140px;
        width: 40%;
    }
    .boxcardpop_bis.flex_left {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .imgboxcardpop_2 {
        border-radius: 25px 0 0 25px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .boxcardpop,.boxcardpop_bis {
        width: 90%;   
        padding: 5px;
    }    
}
/**** SECTION II : ACTIVITE A MARSEILLE ****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 {
    .sec_activite { margin: auto;
        width: 100%;
    }
    
    .bloc_activite { width: 80%;
        margin-right: 0px;
    }
    .bloc_activite_2 {
        width: 80%;
        margin-left: 0px;
    }
    .activite_titre {      
       width: 80%;     
       margin: auto;
       margin-top: 20px;
       margin-bottom: 30px;       
    }
    .box_activite.flex_between {
        flex-wrap: wrap;    
        height: auto;  
        justify-content: center;
    }
    .box_activite {
        height: 460px;
    }
    .bloc_activite {
        margin-bottom: 30px;
        height: 460px;        
    }
    .box_activite_flex {
        height: 460px;
    }
    .activite_card_img_1 {
        height: 385px;
    }
    .activite_card_img_2 {
        height: 165px;
    }
    .activite_card_img_3 {
        height: 115px;
    }
    .activite_card_img_4 {
        height: 385px;
    }
    .activite_card_img_5 {
        height: 140px;
    }
    .activite_card_img_6 {
        height: 140px;
    }
    .activite_card_box_1 {
        height: 460px;
    }
    .activite_card_box_2 {
        height : 240px;
    }
    .activite_card_box_3 {
        height: 190px;
    }
    .activite_card_box_4 { 
        height: 460px;
    }
    .activite_card_box_5 {
        height: 215px;
    }
    .activite_card_box_6 {
        height: 215px;
    }
    .activité_card_txt { height: 75px;
    }
    .flex_between.bloc_activite_2 {
        flex-direction: row-reverse;
    }
    .activite_card_box_4 {
        margin-left: 30px;
        margin-right: 0px;    
    }    
 }
@media all and (max-width: 768px)
 {
    .activite_titre {      
        width: 90%;       
     }
     .flex_between.box_activite {
         height: 100%;
         flex-direction: column;
         flex-wrap: nowrap;
     }
     
    .flex_between.bloc_activite,.flex_between.bloc_activite_2 {
        flex-direction: column;
        margin: auto;
        height: auto;
        width: 90%;
        
    }
    .box_activite_flex {
        height: auto;
    }
    .activite_card_box_1,.activite_card_box_2,.activite_card_box_3,.activite_card_box_4,.activite_card_box_5,.activite_card_box_6 {
        margin: 0px;
        height: 180px;
        margin-bottom: 40px;
    }
    .activite_card_img_1,.activite_card_img_2,.activite_card_img_3,.activite_card_img_4,.activite_card_img_5,.activite_card_img_6 {
        height: 130px;
    }
    .activité_card_txt { height: 50px;
    }   
 } 
/**** FOOTER ****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
 @media all and (max-width: 992px)
 {
   .bloc_txt_foot {
         min-width : 500px;    
   }
   .bloc_footer {      
       margin: auto;
       width: 80%;    
}
  } 
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
 @media all and (max-width: 768px)
 {
    footer { 
        margin-top: 10px;
    }
    .bloc_txt_foot {
        min-width : 100%;    
  }
    .bloc_footer { margin: auto;
        width : 90%;               
    }
 }  
