*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: Raleway;
}
main, header { margin-left: 50px;
    margin-right: 50px;
}
 
/**TOOLBOX**/
/*FLEX*/
.flex_center {
    display:flex;
    align-items: center;
    justify-content: center;
}
.flex_around {display: flex;
    align-items: center;
    justify-content: space-around;
}
.flex_between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex_around_wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.flex_around_column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.flex_between_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.non_soulign {
    text-decoration: none;
}
.flex_left {
    display: flex;
    justify-content: flex-start;
}
/*POLICE*/
.p_nav {
    font-size: 16px;
}
.p_title {
    font-size: 18px;
}
.p_comm {
    font-size: 14px;
}
.p_cel_txt {
    font-weight: bold;
}
.p_boxcard {
    font-size: 12px;
}
.p_title_foot {
    font-size: 14px;
}
.stars_blue {color: #0065FC;
font-size: 10px;}
.stars_grey { color: #d9d9d9;
font-size: 10px;}

/***BARRE DE NAVIGATION***/
.nav_flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.size_logo  {
    height: 50px;
}
.button_nav_size {
    width: 300px ;
}
.link_size {
    width: 100%;
    height: 100px;  
}
.link_color { color: black; }

.link_size:hover>.linkborder {
    border-top: 2px solid #0065FC;
}
.link_size:hover>.linkborder>.link_color {
    color: #0065FC;
}
.linkborder {
    border-top: 2px solid transparent;
    height: 100%;
    width: 100%;
    color: black;
    text-decoration: none;
}
/****HEADER***/
.title_intro{
    padding-top:0px ;
}
/*Barre de recherche*/
.globalsearch{
    width: 350px;
    border-radius: 10px;
    margin-top: 10px;
    border: 1px solid #F2F2F2;
    }
.iconmap{
    width: 40px;
    height: 42px;
    background-color: #F2F2F2;
    border-radius: 10px 0px 0px 10px; 
    margin-top: -1px ;
    margin-bottom: -1px;
    margin-left: -2px;
}
.bordernone{
    border:none;
}
.searchinput{height: 38px;
    width: 195px;
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}
.searchblock{
    height: 42px;
    width: 115px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-top: -1px ;
    margin-bottom: -1px;
    margin-right: -2px;
    border-radius: 0 10px 10px 0;
}
.searchblock_mob {
    height: 42px;
    width: 42px;
    background-color: #0065FC;
    border-radius: 10px;
    color: white;
    margin-top: -1px ;
    margin-bottom: -1px;
    margin-right: -2px;
}


/***FILTRE***/
.main_cel_filt {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}
.cel_filt {
    display: flex;
    justify-content: space-between;
}
.cell_iconandfilt {
    display: flex;
    max-height: 42px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 5px;
}
.cell_icon {
    min-width: 42px;
    width: 42px;
    min-height: 42px;
    height: 42px;
    background-color: #DEEBFF ;
    color: #0065FC;
    border-radius: 27px;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-left: -10px;
}
.cell_txt {width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;   
}

/*Surlignement des filtres*/
.cell_iconandfilt:hover{
    border-color: #0065FC;    
    background-color: #DEEBFF;
}
.cell_iconandfilt:hover>.cell_icon {
    color: #DEEBFF;
    background-color: #0065FC;
}
.cell_iconandfilt:hover>.cell_txt { 
    font-style: italic;
}
/**MESSAGEINFO**/     
.info_cell{
    margin-top: 20px;    
}
.info_logo{
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    color: #0065FC;
    margin-right: 10px;
}

/***CORPS DU SITE***/
/**SECTION1**/
/*ARTICLE*/
.blocktitles{
    margin: 20px;
}
.blockheberg{
    flex: 2;
    height: 520px;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-top: 30px;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.boxcard {
    background-color: white;
    width: 100%;
    min-width: 180px;
    height: 175px;
    margin: 10px;
    border-radius: 25px;
    color: black;
    box-shadow: -1px 1px 10px #c4bfbf;
}
.boxcard:hover,.boxcard_disp_other:hover,.boxcard_disp_desktop:hover {
    transform: scale(1.1);
}
.boxtxt {
    margin-left: 10px;
    margin-right: 10px;   
    height: 70px;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;   
}

.boxcard_disp_desktop {
    background-color: white;
    width: 100%;
    min-width: 180px;
    height: 175px;
    margin: 10px;
    border-radius: 25px;
    color: black;
    box-shadow: -1px 1px 10px #c4bfbf; 
    display: none;
}
.boxcard_disp_other {
    background-color: white;
    width: 100%;
    min-width: 180px;
    height: 175px;
    margin: 10px;
    border-radius: 25px;
    color: black;
    box-shadow: -1px 1px 10px #c4bfbf;
}
.imgboxcard_1 {
    background-image: url("/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    border-radius: 25px 25px 0 0;
}
.imgboxcard_2 {
    background-image: url("/images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 95px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 25px 25px 0 0;
}
.imgboxcard_3 {
    background-image: url("/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 95px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 25px 25px 0 0;
}
.imgboxcard_4 {
    background-image: url("/images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 95px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 25px 25px 0 0;
}
.imgboxcard_5 {
    background-image: url("/images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 95px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 25px 25px 0 0;
}
.imgboxcard_6 {
    background-image: url("/images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 95px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 25px 25px 0 0;
}
.afficherplus {
   width: 100%;
   margin-left: 20px;
   margin-top: 20px;
}
/*ASIDE-POPULAIRE*/
.blockpopul{
    flex: 1;
    height: 520px;
    border-radius: 20px;
    background-color: #F2F2F2;
    margin-top: 30px;
    margin-left: 20px;
}
.boxcardpop,.boxcardpop_bis{
    width:85%;
    min-width: 220px;
    height: auto;
    background-color:white;
    margin: 10px;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    color: black;
}
.boxcardpop:hover,.boxcardpop_bis:hover {
    transform: scale(1.1);
}
.blocktitlespop {margin: 20px;
}
.imgboxcardpop_1 {
    background-image: url("/images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 120px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 25px 0 0 25px;
}
.imgboxcardpop_2 {
    background-image: url("/images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 120px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 25px 0 0 25px;
}
.imgboxcardpop_3 {
    background-image: url("/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 45%;
    height: 120px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 25px 0 0 25px;
}
.boxtxtcardpop { 
    width: 100%;
    padding-top: 20px;
    padding-bottom: 15px;
    margin-right :3px
}
.boxstarpop { 
    margin-left: 20px;
    margin-right: 20px;
}
*.boxtxtpop1 { 
    height: 60%;
    margin-left: 20px;
    margin-right: 20px;
}
.boxetoilespop {
    margin-left: 20px;
    margin-right: 20px;  
}
/**ACTIVITE**/
.box_activite {
    height: 370px;
}
.bloc_activite { width: 100%;
    margin-right: 15px;
}
.bloc_activite_2 { width: 100%;
    margin-left: 15px;
}
.activite_titre { 
    margin-top: 40px;
    margin-bottom: 20px;
}
.box_activite_flex {
    height: 370px;
    width: 100%;
}
.activite_card_box_1 {
    height: 370px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
    margin-right: 30px;
}
.activite_card_box_2 {
    height: 200px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
    
}
.activite_card_box_3 {
    height: 140px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
}
.activite_card_box_4 {
    height: 370px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
    margin-right: 30px;     
}
.activite_card_box_5 {
    height: 170px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;  
}
.activite_card_box_6 {
    height: 170px;
    background-color: white;
    border-radius: 25px;
    box-shadow: -1px 1px 10px #c4bfbf;
    width: 100%;
}
.activite_card_box_1:hover,.activite_card_box_2:hover,.activite_card_box_3:hover,.activite_card_box_4:hover,.activite_card_box_5:hover,.activite_card_box_6:hover{
    transform: scale(1.1);    
} 

.activite_card_img_1 {background-image: url("/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activite_card_img_2 {background-image: url("/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activite_card_img_3 {background-image: url("/images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 90px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activite_card_img_4 {background-image: url("/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 320px;
    width: 100%;
    border-radius: 25px 25px 0 0;
}
.activite_card_img_5 {background-image: url("/images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activite_card_img_6 {background-image: url("/images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 120px;
    width: 100%; 
    border-radius: 25px 25px 0 0;
}
.activité_card_txt { display: flex;
    align-items: center;
    height: 50px;
    margin-left: 5%;    
}

/**FOOTER**/
footer {
    background-color: #f2f2f2;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.bloc_txt_foot {min-width: 200px;
margin-bottom: 20px;}
.title_foot {
    margin-bottom: 10px;
}
/****** @MEDIA POUR LE RESPONSIVE ******/
/**** LES BASES ****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
{
    main { 
        margin-left: 0px;
        margin-right: 0px;
    }
    header { 
        margin-left: 0px;
        margin-right: 0px;
    }
}  
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
{
    main { 
        margin-left: 0px;
        margin-right: 0px;
    }
    header { 
        margin-left: 0px;
        margin-right: 0px;
    }
}   
/**** LES POLICES ****/
@media all and (max-width: 992px)
 { 
    .p_nav     {
        font-size: 20px;
    }
    .p_title {
        font-size: 22px;
    }
    .p_comm {
        font-size: 18px;
    }
    .p_cel_txt {
        font-weight: bold;
    }
    .p_boxcard {
        font-size: 18px;
    }    
    .p_title_foot {
        font-size: 19px;
    }
    .stars_blue {color: #0065FC;
        font-size: 15px;
    }
    .stars_grey {
        color: #d9d9d9;
        font-size: 15px;}
 }

 @media all and (max-width: 768px)
 { 
    .p_nav     {
        font-size: 25px;
    }
    .p_title {
        font-size: 35px;
    }
    .p_comm {
        font-size: 25px;
    }
    .p_cel_txt {
        font-weight: bold;
    }
    .p_boxcard {
        font-size: 25px;
    }    
    .p_title_foot {
        font-size: 22px;
    }
    .stars_blue {color: #0065FC;
        font-size: 20px;
    }
    .stars_grey {
        color: #d9d9d9;
        font-size: 20px;}
 }
/****** HEADER ******/
/**** NAV ****/
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 992px)
 { 
    .nav_flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    .size_logo {
        height: 100px;
    }
    .button_nav_size {
        width: 100%;
        height: auto;
    }
    .link_size {
        width: 100%;
        height: 100px;        
    }
    .linkborder {
        width: 100%;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
    }
    .link_size:hover>.linkborder {
        border-top: 3px solid transparent;
        border-bottom: 3px solid #0065FC;
    }
    .link_size:hover>.linkborder>.link_color {
        color: #0065FC;
    }  
 }

/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
 { 
    .nav_flex {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    .size_logo {
        height: 80px;
    }
    .button_nav_size {
        width: 100%;
        height: auto;
    }
    .link_size {
        width: 100%;
        height: 100px;        
    }
    .linkborder {
        width: 100%;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
    .link_size:hover>.linkborder {
        border-top: 5px solid transparent;
        border-bottom: 5px solid #0065FC;
    }
    .link_size:hover>.linkborder>.link_color {
        color: #0065FC;
    }  
 }
 /****EN TETE****/
 /*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
{ 
   .title_intro {
       margin: auto;
       margin-bottom: 20px;
       width: 80%;
   }    
}
 /*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
{ 
   .title_intro {
       margin: auto;
       margin-bottom: 30px;
       width: 90%;
   }    
}

/****RECHERCHE****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 { 
    .globalsearch {
        margin: auto; 
        width: 80%; 
        height: 75px;
        border-radius: 25px;
        border: 2px solid #f2f2f2;
        margin-bottom: 30px;
     }
    .iconmap {
        width: 75px;
        min-width: 75px;
        height: 75px;
        border-radius: 25px 0 0 25px ;
     } 
     .searchinput { 
        width: 100%;
        height: 70px;
        
     }
     .searchblock {
        width: auto;
        
        height: 75px;
        border-radius: 0 25px 25px 0;
        padding-left: 20px;
        padding-right: 30px;
     }     
 }

/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (min-width: 769px)
 {     
     .searchblock_mob.flex_center {
         display: none;
     }
 }
 @media all and (max-width: 768px)
 { 
    .globalsearch {
        margin: auto; 
        width: 90%; 
        height: 107px;
        border-radius: 25px;
        border: 2px solid #f2f2f2;
        margin-bottom: 30px;
     }
    .iconmap {
        width: 105px;
        min-width: 105px;
        height: 107px;
        border-radius: 25px 0 0 25px ;
     } 
     .searchinput { 
        width: 100%;
        height: 100px;
        
     }
     .searchblock_mob {
        width: 107px;
        min-width: 105px;
        height: 107px;
        border-radius: 25px;
     }

     .searchblock.flex_center {
        display: none;
     }
 }
/****FILTRES****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 {  .title_filt {
        width: 80%;
        margin-bottom: 15px;
    }
    .main_cel_filt {
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        padding-right: 0px;
        padding-left: 0px;     
    }
    .cel_filt.flex_between {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .cell_iconandfilt { 
        max-height: 75px; 
        border-radius: 53px;
        margin-left: 5px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 3px solid #f2f2f2;
    }
    .cel_filt {
    width: 80%;}
    .cell_icon { 
        width: 75px;
        min-width: 75px;
        height: 75px;
        border-radius: 50%;
        margin-top: -3px;
    margin-bottom: -3px;
    }
    .cell_txt { margin: auto;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
 }
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
 {  
    .cel_filt.flex_between { 
        justify-content: flex-start;
        flex-wrap: wrap;
        align-items: flex-end;
    }
       
    .title_filt {
        width: 90%;
    }
    .main_cel_filt {
        flex-direction: column;
        justify-content: flex-start;
        width: auto;
        padding-right: 0px;
        padding-left: 0px;     
    }
    .cel_filt.flex_between {
        justify-content: flex-start;
    }
    .cell_iconandfilt { 
        max-height: 105px; 
        border-radius: 53px;
        margin-left: 5px;
        margin-right: 20px;
        margin-bottom: 20px;
        border: 5px solid #f2f2f2;
    }
    .cel_filt {
    width: 90%;}
    .cell_icon { 
        width: 105px;
        min-width: 105px;
        height: 105px;
        border-radius: 50%;
        margin-top: -5px;
    margin-bottom: -5px;
    }
    .cell_txt { margin: auto;
        height: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
 }

/****INFO***/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 {  .info_cell {
        margin: auto;
        width: 80%;
    }
    .info_logo {
        min-width: 30px;
        min-height: 30px;
        border: 3px solid #f2f2f2;
    }
 }   
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
 {  .info_cell {
        margin: auto;
        width: 90%;
    }
    .info_logo {
        min-width: 50px;
        min-height: 50px;
        border: 4px solid #f2f2f2;

    }
 }  

/****** SECTION I : HEBERGERGEMENT ET PLUS POPULAIRE ******/
/**** SECTION I : HEBERGERGEMENT ET PLUS POPULAIRE ****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 {
   .bloc_section_1.flex_around {
       flex-direction: column-reverse;      
   }
   .blockheberg {
       width: 100%;
       margin-left: 0px;
       margin-right: 0px;
       flex:none;
       background-color: transparent;
       padding-left: 0px;
       padding-right: 0px;
       height: auto;   
    }
   .blockpopul {
       width: 100%;
       flex: 0;
       margin-left: 0px;
       margin-right: 0px;
       border-radius: 10px;
       border-radius: 0 0 0 0;       
    }
    .flex_between.blocktitlespop {
        justify-content: space-between;
        width: 80%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;        
    }
   .boxcardpop {
       width: 72.5%;
       margin-bottom: 30px;
       margin-top: 0px;
   }
   .boxcardpop_bis{
       width: 72.5%;
       margin-top: 0px;
       margin-bottom: 30px;
   }
   .boxcardpop_bis.flex_left.non_soulign {
       display: flex;
       flex-direction: row-reverse;
       justify-content: flex-end;
   }
   .imgboxcardpop_2 {
       border-radius: 0 25px 25px 0;
       margin-right: 3px;
       margin-left: 0px;
   }
   .imgboxcardpop_1,.imgboxcardpop_2,.imgboxcardpop_3 {
       width: 100%;
       height: 200px;
   }
   .blocktitles {
       margin: auto;
       width: 80%;
    }
    .heb.flex_around { 
      width: 85%;
      margin: auto; 
    }
    .boxcard,.boxcard_disp_desktop {
        
        height: 270px;
    }
    .boxcard {
        margin: 15px;
        min-width: 140px;  
    }
    .boxtxt {
        margin-left: 20px;
        margin-right: 20px;   
        height: 120px;    
    }
    .boxcard_disp_desktop {
        background-color: white;
        width: 100%;
        min-width: 180px;
        margin: 15px;
        border-radius: 25px;
        color: black;
        box-shadow: -1px 1px 10px #c4bfbf; 
        display: block;
    }
    .boxcard_disp_other {
        display: none;  
        margin: 20px;
    } 
    .imgboxcard_1,.imgboxcard_2,.imgboxcard_3,.imgboxcard_4,.imgboxcard_5,.imgboxcard_6 {
        height: 150px;
    }

    .afficherplus {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-left: 0;
    }    
}
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
@media all and (max-width: 768px)
 {
    .blockheberg { 
        height :auto;
        width: 100%;
        flex:none;
        padding: 0px;
    }
    .blocktitles {
        width: 90%;        
    }
    .heb.flex_around {
        flex-direction: column;
        width: 90%;
    }
    .boxcard,.boxcard_disp_desktop {
        height: auto;
    }
    .boxtxt {
        margin-left: 20px;
        margin-right: 20px;   
        height: 165px;     
    }
    .imgboxcard_1,.imgboxcard_2,.imgboxcard_3,.imgboxcard_4,.imgboxcard_5,.imgboxcard_6 {
        height: 235px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
    }
    .afficherplus {
        display: block;
        margin: auto;
        margin-bottom: 10px;
        width: 90%;
    }
    .flex_between.blocktitlespop {
        justify-content: space-between;
        width: 90%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;        
    }
    .imgboxcardpop_1,.imgboxcardpop_2,.imgboxcardpop_3 {
        width: 60%;
        height: 275px;
    } 
    .boxcardpop_bis.flex_left.non_soulign {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .imgboxcardpop_2 {
        border-radius: 25px 0 0 25px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .boxcardpop,.boxcardpop_bis {
        width: 90%;   
    }
    .imgboxcardpop_1,.imgboxcardpop_2,.imgboxcardpop_3 {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }  
}
/**** SECTION II : ACTIVITE A MARSEILLE ****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
@media all and (max-width: 992px)
 {
    .sec_activite { margin: auto;
        width: 100%;
    }
    
    .bloc_activite { width: 80%;
        margin-right: 0px;
    }
    .bloc_activite_2 {
        width: 80%;
        margin-left: 0px;

    }
    .activite_titre {      
       width: 80%;     
       margin: auto;
       margin-top: 20px;
       margin-bottom: 30px;       
    }
    .box_activite.flex_between {
        flex-wrap: wrap;    
        height: auto;  
        justify-content: center;
    }
    .box_activite {
        height: 460px;
    }
    .bloc_activite {
        margin-bottom: 30px;
        height: 460px;        
    }
    .box_activite_flex {
        height: 460px;
    }
    .activite_card_img_1 {
        height: 385px;
    }
    .activite_card_img_2 {
        height: 165px;
    }
    .activite_card_img_3 {
        height: 115px;
    }
    .activite_card_img_4 {
        height: 385px;
    }
    .activite_card_img_5 {
        height: 140px;
    }
    .activite_card_img_6 {
        height: 140px;
    }
    .activite_card_box_1 {
        height: 460px;
    }
    .activite_card_box_2 {
        height : 240px;
    }
    .activite_card_box_3 {
        height: 190px;
    }
    .activite_card_box_4 { 
        height: 460px;
    }
    .activite_card_box_5 {
        height: 215px;
    }
    .activite_card_box_6 {
        height: 215px;
    }
    .activité_card_txt { height: 75px;
    }
    .flex_between.bloc_activite_2 {
        flex-direction: row-reverse;
    }
    .activite_card_box_4 {
        margin-left: 30px;
        margin-right: 0px;    
    }
    
 }
@media all and (max-width: 768px)
 {
    .activite_titre {      
        width: 90%;       
     }
     .flex_between.box_activite {
         height: 100%;
         flex-direction: column;
         flex-wrap: nowrap;
     }
     
    .flex_between.bloc_activite,.flex_between.bloc_activite_2 {
        flex-direction: column;
        margin-right: 0px;
        margin-left: 0px;
        height: auto;
        width: 90%;
        margin-bottom: 0px;
    }
    .box_activite_flex {
        height: auto;
    }
    .activite_card_box_1,.activite_card_box_2,.activite_card_box_3,.activite_card_box_4,.activite_card_box_5,.activite_card_box_6 {
        margin: 0px;
        height: 390px;
        margin-bottom: 40px;
    }
    .activite_card_img_1,.activite_card_img_2,.activite_card_img_3,.activite_card_img_4,.activite_card_img_5,.activite_card_img_6 {
        height: 275px;
    }
    .activité_card_txt { height: 115px;
    }
     
   
 } 

/**** FOOTER ****/
/*RESPONSIVE CHANGEMENT LARGEUR 992*/
 @media all and (max-width: 992px)
 {
   .bloc_txt_foot {
         min-width : 80%;    
   }
  } 
/*RESPONSIVE CHANGEMENT LARGEUR 768*/
 @media all and (max-width: 768px)
  {
    .bloc_txt_foot {
          min-width : 90%;    
    }
   }  